@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);


body {
  background-color: #1f1222;
}

.reveal {
  font-family: 'Source Sans Pro', sans-serif;
  /*font-weight: 600;*/
}

.reveal .slide-background {
  transition: none;
}

.reveal .slides > section, .reveal .slides > section > section {
  line-height: 1.1;
}

.reveal a {
  color: #e31;
  text-decoration: none;
  box-shadow: inset 0 -0.07em 0 rgba(238, 51, 17, 0.4);
}


/*.reveal a.button {*/
  /*display: inline-block;*/
  /*background-color: #e31;*/
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.3);*/
  /*color: white;*/
  /*text-shadow: none;*/
  /*padding: 4px 9px;*/
  /*text-transform: uppercase;*/
/*}*/

.reveal a.blue {
  color: #16e;
}

.reveal ol,
.reveal ul,
.reveal dl {
  /* for some reason it's inline-block in blood theme */
  display: block;
}

.reveal li {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.reveal {
  font-size: 28px;
}

.reveal .slides {
  text-align: left;
}

.reveal cite {
  font-style: italic;
}

.reveal code {
  /*font-size: 90%;*/
  /*line-height: 120%;*/
  font-family: Ubuntu Mono
}

.reveal pre {
  width: auto;
  font-size: 0.9em;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.2);
}

.reveal pre code {
  background-color: rgba(255, 255, 255, 0.06);
  max-height: 450px;
}

.reveal pre code::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.reveal pre code::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

.reveal pre code::-webkit-scrollbar-corner {
  background-color: transparent;
}

.reveal code em {
  font-style: normal;
  background-color: #4488bb;
  color: white;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.reveal p code {
  background-color: transparent;
}

/*.reveal h1 {*/
  /*font-size: 2em;*/
/*}*/

.reveal .subtle {
  opacity: 0.7;
}

.reveal .subtler {
  opacity: 0.3;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  line-height: 1.05;
  text-shadow: none;
  font-family: Orbitron, sans-serif
}

.reveal h1 code,
.reveal h2 code,
.reveal h3 code,
.reveal h4 code,
.reveal h5 code,
.reveal h6 code {
  text-transform: none;
  color: #e82;
}

.reveal h2.with-case {
  text-transform: none;
}

.reveal p {
  font-weight: normal; /* theme default is 300 */
  line-height: 1.2;
}

.reveal table {
  margin-left: 0;
  margin-right: 0;
}

.reveal table td {
  color: #bbb;
}

.reveal table th {
  text-transform: uppercase;
}

.reveal table tr:last-child th {
  border: 0;
}

.reveal .columns:after {
  content: "";
  display: table;
  clear: both;
}

.reveal .column {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.reveal .columns.four .column {
  width: 25%;
}

.reveal .columns.three .column {
  width: 33%;
}

.reveal .column {
  padding-right: 0.5em;
}

.reveal .column:last-child {
  padding-right: 0;
  padding-left: 0.5em;
}

/*.reveal .column h3,*/
/*.reveal .column ul {*/
  /*display: block;*/
  /*text-align: left;*/
/*}*/

.reveal .xxxl {
  font-size: 1.2em;
}

.reveal .xxl {
  font-size: 1.15em;
}

.reveal .xl {
  font-size: 1.1em;
}

.reveal .l {
  font-size: 1.05em;
}

.reveal .m {
  font-size: 1em;
}
.reveal .s {
  font-size: 0.9em;
}
.reveal .xs {
  font-size: 0.8em;
}

.reveal .xxs {
  font-size: 0.7em;
}
.reveal .xxxs {
  font-size: 0.6em;
}
.reveal .xxxxs {
  font-size: 0.5em;
}
.reveal .xxxxxs {
  font-size: 0.4em;
}
.reveal .xxxxxxs {
  font-size: 0.3em;
}

.reveal .center {
  text-align: center;
}

.reveal section img {
  border: none;
  background: none; /* wtf */
  vertical-align: middle;
  box-shadow: none;
  max-width: none;
  max-height: none;
  margin: 0;
}

.reveal section .screenshot {
  max-height: 100%;
  max-width: 100%;
}

.reveal .red {
  color: #e31;
}

.reveal .green {
  color: #1c3;
}

.reveal .blue {
  color: #28c;
}

.reveal .gray {
  color: #999;
}

.reveal .yellow-green {
  color: #ce3;
}

.reveal .right {
  float: right;
}

.reveal hr {
  background: rgba(255,255,255,0.2);
  height: 3px;
  border: none;
  margin: 1em 0;
}

.reveal mark {
  background-color: rgba(0, 125, 195, 0.4);
  color: white;
  padding: 0.03em 0em;
}

.reveal code mark {
  background-color: #2d3c6c;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.reveal code mark.bad {
  background-color: #932104;
}

.reveal blockquote {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

.reveal .layers {
  position: relative;
  margin: 50px 0 50px 0;
  height: 200px;
}


.reveal .layers--layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  transition: margin-left 1s, background-color 1s;
}

.reveal .layers--url {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.6;
}

.reveal .layers--layer.is-document {
  background-color: rgba(80, 120, 200, 0.6);
  transform: rotateY(60deg) translateZ(0px);
}

.reveal .layers--layer.is-modal {
  margin-left: 40px;
  transform: rotateY(60deg) translateZ(50px);
  background-color: rgba(200, 50, 40, 0.6);
}

.reveal .layers--layer.is-popup {
  margin-left: 80px;
  transform: rotateY(60deg) translateZ(100px);
  background-color: rgba(40, 200, 150, 0.6);
}


.reveal .layers:hover .layers--layer.is-document {
  margin-left: 0;
  background-color: rgba(80, 120, 200, 0.3);
}

.reveal .layers:hover .layers--layer.is-modal {
  margin-left: 120px;
  background-color: rgba(200, 50, 40, 0.3);
}

.reveal .layers:hover .layers--layer.is-popup {
  margin-left: 240px;
  background-color: rgba(40, 200, 150, 0.3);
}




.reveal .ghosts {
  position: relative;
  margin: 50px 0 40px 0;
  height: 200px;
}

.reveal .ghosts--layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  transition: margin-left 1s, background-color 1s;
}

.reveal .ghosts--css {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.6;
}

.reveal .ghosts--layer.is-old {
  background-color: rgba(80, 120, 200, 0.2);
  transform: rotateY(60deg) translateZ(0px);
  border: 1px dashed rgba(255,255,255,0.3)
}

.reveal .ghosts--layer.is-new {
  transform: rotateY(60deg) translateZ(50px);
  background-color: rgba(200, 50, 40, 0.2);
  border: 1px dashed rgba(255,255,255,0.3)
}

.reveal .ghosts--layer.is-old-ghost {
  transform: rotateY(60deg) translateZ(100px);
  background-color: rgba(80, 120, 200, 0.8);
  border: 1px solid white;
}

.reveal .ghosts--layer.is-new-ghost {
  transform: rotateY(60deg) translateZ(150px);
  background-color: rgba(200, 50, 40, 0.8);
  border: 1px solid white;
}


.reveal .ghosts:hover .ghosts--layer.is-old {
  margin-left: 0;
}

.reveal .ghosts:hover .ghosts--layer.is-new {
  margin-left: 80px;
}

.reveal .ghosts:hover .ghosts--layer.is-old-ghost {
  margin-left: 160px;
}

.reveal .ghosts:hover .ghosts--layer.is-new-ghost {
  margin-left: 240px;
}


.reveal .transition-issue-illustration {
  background-color: #000;
}

.reveal .transition-issue-illustration img {
  vertical-align: top;
}

.reveal .project-dots {
  margin-left: -5px;
}


.reveal .project-dots--row {
  margin-bottom: 12px;
  margin-top: 12px;
}

.reveal .project-dots--dot {
  display: inline-block;
  background-color: #456;
  border-radius: 300px;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

.reveal .project-dots--dot.is-positive {
  background-color: #1c3;
}

.reveal .project-dots--dot.is-negative {
  background-color: #c31;
}

.reveal .complexity {
  width: 100%;
  height: 640px;
  /*background-color: #333;*/
}

.reveal .complexity:after {
  content: "";
  display: table;
  clear: both;
}

.reveal .complexity--side {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
}

.reveal .complexity--side-name {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid white;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  font-weight: bold;
}

.reveal .complexity--stack {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
}

.reveal .complexity--slice {
  background-color: #999;
  width: 50%;
  margin: 0 auto;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
  font-size: 26px;
  /*padding-top: 3px;*/
  /*box-shadow: inset 0 3px 0 rgba(255,255,255,0.3);*/
  padding-top: 1px;
  padding-bottom: 1px;
}

.reveal .complexity--slice.is-color1 {
  background-color: #c21;
}

.reveal .complexity--slice.is-color2 {
  background-color: #2a4;
}

.reveal .complexity--slice.is-color3 {
  background-color: #47d;
}

.reveal .complexity--slice.is-color4 {
  background-color: #2b9;
}

.reveal .complexity--slice.is-color5 {
  background-color: #b29;
}

.reveal .complexity--slice.is-color6 {
  background-color: #c72;
}

.reveal .complexity--slice.is-color7 {
  background-color: #99a;
}

.reveal .complexity--slice.is-color8 {
  background-color: #eb1;
}

.reveal .complexity--slice.is-color9 {
  background-color: #291;
}

.reveal .complexity--slice.is-weight1 {
  height: 25px;
  line-height: 25px;
  font-size: 20px;
}

.reveal .complexity--slice.is-weight2 {
  height: 40px;
  line-height: 40px;
}

.reveal .complexity--slice.is-weight3 {
  height: 50px;
  line-height: 50px;
}

.reveal .complexity--slice.is-weight4 {
  height: 60px;
  line-height: 60px;
}

.reveal .complexity--slice.is-weight5 {
  height: 70px;
  line-height: 70px;
}

.reveal .complexity--slice.is-weight6 {
  height: 80px;
  line-height: 80px;
}

.reveal .complexity--slice.is-weight7 {
  height: 90px;
  line-height: 90px;
}

.reveal .complexity--slice.is-weight8 {
  height: 110px;
  line-height: 110px;
}

.reveal .complexity--slice.is-weight9 {
  height: 130px;
  line-height: 130px;
}

.reveal .complexity--title {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.reveal .complexity--title .subtle {
  font-size: 40px;
}
